= render_page_title t(".title")

.span6
  = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
    = f.input :email, :required => true
    = f.button :wrapped, :value => t(".send_it"), :wrapper_class => "form-actions-clean"
.span6
  = render :partial => "devise/shared/links"
