<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @space.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @space.name %>
</p>


<%= link_to 'Edit', edit_space_path(@space) %> |
<%= link_to 'Back', spaces_path %>
