<h1><%= t('.title') %>:</h1>

<div id="bbbrails_servers_links">
  <%= link_to t('.new_server'), new_bigbluebutton_server_path %>
</div>

<ul id="bbbrails_servers_list">
  <% @servers.each do |server| %>
    <li>
      <div><label><%= BigbluebuttonServer.human_attribute_name(:name) %></label> <%= server.name %></div>
      <div><label><%= BigbluebuttonServer.human_attribute_name(:url) %></label> <%= server.url %></div>
      <div><label><%= BigbluebuttonServer.human_attribute_name(:salt) %></label> <%= server.salt %></div>
      <div><label><%= BigbluebuttonServer.human_attribute_name(:version) %></label> <%= server.version %></div>
      <div><label><%= BigbluebuttonServer.human_attribute_name(:param) %></label> <%= server.param %></div>
      <div><label>Access</label>
        <%= link_to t('show'), server, :class => 'button small' %>
        <%= link_to t('.view_rooms'), bigbluebutton_server_rooms_path(server), :class => 'button small' %>
        <%= link_to t('.activity_monitor'), activity_bigbluebutton_server_path(server), :class => 'button small' %>
        <%= link_to t('edit'), edit_bigbluebutton_server_path(server), :class => 'button small' %>
        <%= link_to t('destroy'), server, :confirm => t('are_you_sure'), :method => :delete, :class => 'button small' %>
      </div>
    </li>
  <% end %>
</ul>

