<div class="home_webconference_details" id="home_webconference_details_<%= room.id %>">
  <h4>Webconference Room Details</h4>
  <div class="field"><label>Join URL:</label><span class="value"><%= join_bigbluebutton_server_room_url(room.server, room) %></span></div>
  <div class="field"><label>Invite URL:</label><span class="value"><%= invite_bigbluebutton_server_room_url(room.server, room) %></span></div>
  <br/>
  <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:name) %>:</label><span class="value"><%= room.name %></span></div>
  <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:meetingid) %>:</label><span class="value"><%= room.meetingid %></span></div>
  <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:server_id) %>:</label><span class="value"><%= room.server_id %></span></div>
  <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:randomize_meetingid) %>:</label><span class="value"><%= room.randomize_meetingid %></span></div>
  <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:private) %>:</label><span class="value"><%= room.private %></span></div>
  <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:attendee_password) %>:</label><span class="value"><%= room.attendee_password %></span></div>
  <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:moderator_password) %>:</label><span class="value"><%= room.moderator_password %></span></div>
  <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:welcome_msg) %>:</label><span class="value"><%= room.welcome_msg %></span></div>
  <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:logout_url) %>:</label><span class="value"><%= room.logout_url %></span></div>
  <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:dial_number) %>:</label><span class="value"><%= room.dial_number %></span></div>
  <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:voice_bridge) %>:</label><span class="value"><%= room.voice_bridge %></span></div>
  <div class="field"><label><%= BigbluebuttonRoom.human_attribute_name(:max_participants) %>:</label><span class="value"><%= room.max_participants %></span></div>
  <div class="clearer"></div>
  <%= link_to 'Edit', edit_bigbluebutton_server_room_path(room.server, room), :class => 'gray_button small' %>
</div>
