<h1>Home</h1>

<% if user_signed_in? %>
  Hi, <%= current_user.name %> (<%= current_user.email %>)

<h1>My Webconference Rooms</h1>

<div id="home_menu">
  <%= link_to 'New Room', new_bigbluebutton_server_room_path(BigbluebuttonServer.first), :class => 'button gray_button' %>
  <%= link_to 'Servers', bigbluebutton_servers_path, :class => 'button gray_button' %>
</div>

<% i = 1 %>
<% @rooms.each do |room| %>
  <div class="home_webconference_room <%= 'even' if i%2 == 0 %>">
    <div class="buttons_left">
      <%= link_to 'Join', join_bigbluebutton_server_room_path(room.server, room), :class => 'button red_button small' %>
    </div>
    <div class="buttons_right">
      <%= link_to 'Show', bigbluebutton_server_room_path(room.server, room), :class => 'button gray_button small' %>
      <%= link_to 'Edit', edit_bigbluebutton_server_room_path(room.server, room), :class => 'button gray_button small' %>
      <%= link_to 'Destroy', bigbluebutton_server_room_path(room.server, room), :confirm => 'Are you sure?', :method => :delete, :class => 'button gray_button small' %>
    </div>
    <span><%= room.name %></span>
    <div class="clearer"></div>
  </div>
  <% i += 1 %>
<% end %>

<br />

<% else %>
  <%= link_to 'Login', new_user_session_path %>
  <br />
  <%= link_to 'Register', new_user_registration_path %>
<% end %>

