<h1>Home</h1>

<% if user_signed_in? %>
  Hi, <%= current_user.name %> (<%= current_user.email %>)

<h1>My Webconference Rooms</h1>

<div id="home_menu">
  <%= link_to 'Create Room', user_new_room_path(current_user), :class => 'webconference_user_new' %>
  <%= link_to 'View Servers', bigbluebutton_servers_path %>
</div>

<% i = 1 %>
<% @rooms.each do |room| %>
  <div class="<%= i%2 == 0 ? 'home_webconference_room_even' : 'home_webconference_room' %>">
    <div class="buttons_left">
      <%= link_to 'Join', join_bigbluebutton_server_room_path(room.server, room), :class => 'webconference_join_button red_button small' %>
      <%= link_to 'Mobile', join_mobile_bigbluebutton_server_room_path(room.server, room), :class => 'webconference_join_button_mobile gray_button small'  %>
    </div>
    <div class="buttons_right">
      <%= link_to 'Details', bigbluebutton_server_room_path(room.server, room), :class => 'webconference_details_button gray_button small', :"data-room-id" => room.id %>
      <%= link_to 'Remove', bigbluebutton_server_room_path(room.server, room), :confirm => 'Are you sure?', :method => :delete, :class => 'gray_button small' %>
    </div>
    <%= link_to room.name, bigbluebutton_server_room_path(room.server, room), :class => 'webconference_details_button home_webconference_name', :"data-room-id" => room.id %>
  </div>
  <%= render :partial => 'home/webconference_details', :locals => { :room => room } %>
  <% i += 1 %>
<% end %>

<br />

<% else %>
  <%= link_to 'Login', new_user_session_path %>
  <br />
  <%= link_to 'Register', new_user_registration_path %>
<% end %>

