<% if @room.new_record? %>
  <% url = bigbluebutton_rooms_path() %>
<% else %>
  <% url = bigbluebutton_room_path(@room) %>
<% end %>

<%= simple_form_for [@server, @room], :url => url do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this bigbluebutton_room from being saved:</h2>
      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :meetingid %>
  <%= f.input :randomize_meetingid, :as => "boolean" %>
  <%= f.input :private, :as => "boolean" %>
  <%= f.input :attendee_password %>
  <%= f.input :moderator_password %>
  <%= f.input :welcome_msg %>
  <%= f.input :logout_url %>
  <%= f.input :dial_number %>
  <%= f.input :voice_bridge %>
  <%= f.input :max_participants %>
  <%= f.input :external, :as => "boolean" %>
  <%= f.input :param %>
  <%= f.button :submit %>
<% end %>
