= render_page_title t("_other.management.page_title")
= render :partial => "layouts/manage_menu"

= content_for :sidebar do
  = render "webconf_servers/webconf_menu"

#manage
  - @rooms.each do |room|
    = render "webconf_rooms/room_form", :room => room
