<h1>New Webconference Room:</h1>

<%= simple_form_for [@server, @room], :url => bigbluebutton_rooms_path() do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this bigbluebutton_room from being saved:</h2>
      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :redir_url, home_path %>
  <%= f.hidden_field :owner_id %>
  <%= f.hidden_field :owner_type %>
  <%= f.hidden_field :logout_url %>

  <%= f.input :name %>
  <%= f.input :private, :as => "boolean" %>
  <%= f.input :attendee_password %>
  <%= f.input :moderator_password %>
  <%= f.button :submit %>
<% end %>
