<h1>New Webconference Room:</h1>

<%= form_for [@server, @room], :url => bigbluebutton_server_rooms_path(@server) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this bigbluebutton_room from being saved:</h2>
      <ul>
      <% @room.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :redir_url, home_index_path %>
  <%= f.hidden_field :owner_id %>
  <%= f.hidden_field :owner_type %>
  <%= f.hidden_field :logout_url %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :private %><br />
    <%= f.check_box :private %>
  </div>
  <div class="field">
    <%= f.label :attendee_password %><br />
    <%= f.password_field :attendee_password %>
  </div>
  <div class="field">
    <%= f.label :moderator_password %><br />
    <%= f.password_field :moderator_password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

