= render_page_title t(".title")

.span6.clearfix
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f|
    = f.input :login, :autofocus => true
    = f.input :password
    .remember-me
      = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
    = f.button :wrapped, :value => t(".sign_in"), :wrapper_class => "form-actions-clean"

.span6
  = render :partial => "devise/shared/links"
