<% @server.meetings.each do |room| %>
  <div class="bbbrails_meeting_description">
    <div class="title_bar">
      <% unless room.new_record? %>
        <div class="button_bar">
          <%= link_to t('show'), bigbluebutton_room_path(room), :class => 'button small' %>
          <%= link_to t('edit'), edit_bigbluebutton_room_path(room), :class => 'button small' %>
          <%= link_to t('destroy'), bigbluebutton_room_path(room), :confirm => t('are_you_sure'), :method => :delete, :class => 'button small' %>
        </div>
        <div class="button_bar">
          <%= link_to t('join'), join_bigbluebutton_room_path(room), :class => 'button small' %>
          <%= link_to t('mobile_join'), join_mobile_bigbluebutton_room_path(room), :class => 'button small' %>
          <%= link_to t('end'), end_bigbluebutton_room_path(room), :confirm => t('are_you_sure'), :class => 'button small' %>
        </div>
      <% end %>
      <b><%= room.name %></b> (ID: <%= room.meetingid %>) -
      <% if room.is_running? %>
        <span class="running"><%= t('.running') %></span>
      <% else %>
        <span class="not_running"><%= t('.not_running') %></span>
      <% end %>
    </div>
    <% unless room.start_time.nil? %>
      <%= t('.started_at') %>: <%= room.start_time.strftime("%F, %R UTC%z") %><br/>
    <% end %>
    <% unless room.end_time.nil? %>
      <%= t('.ended_at') %>: <%= room.end_time.strftime("%F, %R UTC%z") %> (<%= t('.forcibly_ended') %>: <%= room.has_been_forcibly_ended %>)
    <% end %>
    <% unless room.attendees.count == 0 %>
      <%= t('.participants', :total => room.participant_count, :mod => room.moderator_count) %>
      <div class="bbbrails_meeting_attendees">
        <div class="header">
          <div class="field"><%= t('.participant.role') %></div>
          <div class="field"><%= t('.participant.id') %></div>
          <div class="field"><%= t('.participant.name') %></div>
        </div>
        <% room.attendees.each do |attendee| %>
          <div class="row">
            <div class="field"><%= attendee.role %></div>
            <div class="field"><%= attendee.user_id %></div>
            <div class="field"><%= attendee.full_name %></div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div style="clear:both;"></div>
  </div>
<% end %>
