%h4= t(".title", :user => @resource.email)
%p= t(".reset_requested")
%p= link_to t(".change_password"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= t(".not_requested")
%p= t(".wont_change")
