= content_for :page_header_extra do
  = link_to t(".edit_site"), edit_site_path, :class => "btn btn-primary"
= render_page_title t("_other.management.page_title")

= render :partial => "layouts/manage_menu"

#manage
  = render "sites/form"
