<div id="header">

  <div id="header_content">

    <% if user_signed_in? %>
      <%= link_to home_path do %>
        <%= gravatar_for current_user.email, :size => 38, :class => 'avatar' %>
      <% end %>
    <% end %>

    <div id="header_login">
      <div class="data">
        <% if user_signed_in? %>
          Hi, <%= link_to current_user.name, edit_user_registration_path %>
        <% end %>
      </div>

      <div class="data">
        <div class="session_links">
          <% if user_signed_in? %>
            <%= link_to 'Account', edit_user_registration_path, :class => 'link' %>
            <%= link_to 'Logout', logout_path, :class => 'link' %>
          <% else %>
            <%= link_to 'Login', login_path, :class => 'link' %>
            <%= link_to 'Register', register_path, :class => 'link' %>
          <% end %>
        </div>
      </div>
    </div>

    <div id="header_logo">
      <div class="image"><a href="<%= home_path %>"><%= image_tag "bbb_on_rails_small.png", :size => '35x45' %></a></div>
      <div class="text">
        <div class="title"><a href="<%= home_path %>">Bigbluebutton on Rails Test Application</a></div>
        <div class="subtitle"><a href="https://github.com/mconf/bigbluebutton_rails">https://github.com/mconf/bigbluebutton_rails</a></div>
      </div>
    </div>

  </div>

</div>
