#navbar-brand.brand
  - url = user_signed_in? ? home_path : root_path
  %a.title{:href => url}= current_site.name

%ul#navbar-left-links
  - if user_signed_in?
    %li
      = link_to home_path do
        %i.icon-home.icon-white
        = t('.my_home')
    - if current_user.superuser?
      %li= link_to t('.manage'), site_path

-# the right menu is not shown in the home page
- if at_home?
  %ul#navbar-right-links.nav.pull-right
    %li= link_to t('.logout', :user => current_user.name), logout_path
- else
  %ul#navbar-right-links.nav.pull-right
    - if user_signed_in?
      %li.dropdown

        -# small user information in the navbar
        .user-info-small.dropdown-toggle{ :"data-toggle" => "dropdown" }
          %span.user-name= current_user.name
          %b.caret

        -# dropdown menu opened when clicking in the dropdown
        .dropdown-menu.arrow-right
          .user-info-big
            -# .user-avatar
            -#   = link_logo(current_user, :size => "64", :url => edit_user_registration_path(current_user), :title => current_user.name).html_safe
            .user-data
              = link_to(current_user.name, edit_user_registration_path)
              = link_to(current_user.email, "mailto: #{current_user.email}")
              -# %span= current_user.profile.organization unless current_user.profile.organization.nil?
          .user-links
            %ul
              %li.divider
              %li
                = link_to edit_user_registration_path do
                  %i.icon.icon-user
                  = t('.account')
              %li
                = link_to logout_path do
                  %i.icon.icon-off
                  = t('.logout')

    - else
      %li= link_to t('.login'), login_path
      %li= link_to t('.register'), register_path
