<!DOCTYPE html>
<html>
<head>
  <title>Bigbluebutton on Rails Test Application</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= render 'layouts/notifications' %>
<%= render 'layouts/header' %>
<%= render 'layouts/sub_header' %>

<div id="content">
  <%= yield %>
</div>

</body>
</html>
