<!DOCTYPE html>
<html>
<head>
  <title>Bigbluebutton on Rails Test Application</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= render 'layouts/header' %>

<div id="content">
  <% flash.each do |name, msg| %>
    <div class="flash_<%= name %>"><%= msg.html_safe %></div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
